<h1>Lista de Estudiantes</h1>

<ul>
	<% @student.each do |student| %>

		<li>
		<p>Nombre: <%= student.name %></p>
		<p>Apellidos: <%= student.lastname %></p>
		<p>Código: <%= student.ident %></p>
		
	    <%= link_to"Ver detalle", student_path(student)%> 
		<%= link_to"editar", edit_student_path(student)%> 
		<%= link_to"eliminar", student_path(student), method: :delete, data: {confirm: "estas seguro?"} %>
		</li>
	
	<% end %>
</ul>

<%= link_to "Ingresar nuevo estudiante", new_student_path %>