<h1>Agregar profesor</h1>

<%= form_for @teacher do |f| %>

  <p>
    <%= f.label :name, "Nombre" %><br>
    <%= f.text_area :name %>
  </p>

  <p>
    <%= f.label :lastname, "Apellido" %><br>
    <%= f.text_area :lastname %>
  </p>
  <p>
    <%= f.label :ident, "Código" %><br>
    <%= f.text_area :ident %>
  </p>
    
  <p>
    <%= f.submit %>
  </p>
<% end %>
<%= link_to "Volver al listado", teachers_path %>